body, html {
    background-color: #fff
}
.center {
    float: inherit;
    display: block;
    margin: 0 auto !important;
}
table .user-details {
    float: left;
    /* position: absolute; */
    padding: 0;
    height: 49px;
}
header .user-details {
    width: 410px;
    /* float: left; */
    /* position: absolute; */
    padding: 6px 0;
    height: 49px;
    margin: 0 auto;
}
header .user-details h3, table .user-details h3 {
    float: left;
    display: block;
    font-size: 18px;
    color: #fff;
    margin-right: 19px;
    margin-top: 11px;
}
table .user-details h3 {
    font-size: 15px;
    margin-right: 10px;
    color: #16678e
}
header .user-details ul, table .user-details ul {
    margin: 0;
    float: left;
    display: block;
    margin-top: 11px;
}
header .usr-alert, table .usr-alert {
    width: inherit;
    height: inherit;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
    padding: 3px 4px;
    font-size: 8px;
    top: 7px;
    right: 0px;
}
header .usr-img-status, table .usr-img-status {
    float: left;
    margin-right: 20px;
}
header>div {
    position: relative;
}
header .menu-topo {
    position: absolute;
    top: 16px;
    right: 0;
    margin: 0
}
header h1 {
    float: left;
}
header h1 .sprite-resolucao {
    display: block;
    float: left;
    text-indent: -9999px
}
header .user-details ul li a.perfil-porcentagem {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-top: 5px
}
.banner-resolucao {
    width: 780px;
    height: 275px;
    display: block;
    margin: 0 auto;
    background-image: url('../img/banner_resolucao.jpg');
    background-repeat: no-repeat;
}
.box-app p {
    color: #a7a7a7;
    font-size: 14px;
}
.btn.quarter {
    width: 296px;
}
.box-app p.p-title {
    font-size: 24px;
    width: 780px;
    text-align: center;
    color: #1a678f;
    line-height: 1.2;
    margin-top: 30px !important;
    display: block;
}
.box-app input.input-search {
    width: 600px;
    margin: 25px auto 5px;
    display: block;
    background-position: 354px -270px;
    float: none;
    background-color: #f6f6f6;
    border: 1px solid #1e9ec5;
    font-size: 15px;
    color: #a7a7a7
}
.box-app .smalltitle {
    text-transform: uppercase;
    font-size: 12px;
    color: #1e9ec5;
    font-weight: bold;
}
.box-app h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #1a678f;
    margin: 0
}
.box-campo input[type="text"] {
    background-color: #f1f1f1;
    width: 326px;
    font-size: 12px;
    margin: 0 0 0 10px;
}
.box-app .bigtitle {
    font-size: 14px;
    text-transform: uppercase;
    color: #1a678f
}
.box-app .box-campo label {
    text-transform: uppercase;
    font-size: 12px;
}
.box-app .box-interesse .select-option {
    width: 140px
}
.box-app .box-interesse .select-option select {
    background-color: #f1f1f1;
    border: 0;
    padding: 6px;
}
.box-app li .select-option {
    width: inherit !important;
}
.box-app .type-curso li {
    margin-right: 30px
}
.box-app .type-curso li label {
    font-size: 14px;
    color: #1a678f;
}
.box-app li .select-option .select-seta {
    left: inherit;
    right: -34px;
}
.box-app li .select-option .select-seta i {
    margin: 0
}
.box-app .filtros-selecionados {
    position: absolute;
    top: 0px;
    right: 0;
    width: 185px;
}
.box-app .filtros-selecionados .graytitle {
    color: #696969;
    text-transform: uppercase;
    font-size: 14px;
}
.box-app .filtros-selecionados .first-filtro {
    color: #696969;
    font-weight: bold;
}
.box-app .filtros-selecionados .second-filtro {
    color: #696969
}
.box-app .filtros-selecionados>ul {
    margin-top: 20px
}
.box-app .filtros-selecionados>ul>li>ul {
    margin-left: 20px;
}
.overlay.resolucao fieldset {
    overflow-y: scroll;
    height: 172px
}
.overlay.resolucao .select-option {
    margin: 5px 20px;
}
.overlay.resolucao .box-feed {
    width: 696px;
}
.app-pages .grid_7 {
    width: 364px;
}
.bottom {
    position: relative;
    bottom: 0;
}
.option-question {
    display: table;
}
.option-question li {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 15px 10px 0 0;
}
.option-question li span {
    font-size: 19px;
    color: #1e9ec5;
}
.question-num {
    font-weight: bold;
    margin-top: 2px;
    margin-right: 10px
}
.box-question {
    padding: 10px
}
.question-details .graytitle {
    display: block;
    color: #696969;
    text-transform: uppercase;
}
.question-details .graytitle b {
    color: #1e9ec5;
}
.question-content {
    margin-top: 20px;
    overflow-y: scroll;
    height: 337px;
}
.question-content .question-text {
    font-size: 14px;
    color: #696969;
    margin: 10px 0;
    line-height: 1.5;
    width: 775px;
    text-align: justify;
}
.question-content ul.resposta li {
    float: none;
    position: relative;
}
.payment-methods {
    list-style: none;
    margin: 0;
    padding: 0;
}
.payment-methods:after {
    content: "";
    clear: both;
}
.payment-method input {
    margin-left: 1px
}
.payment-method {
    box-sizing: border-box;
    float: left;
    height: 30px;
    position: relative;
    width: 100%;
}
.payment-method label {
    background-color: #fff;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;
}
.certo label {
    width: 72px;
    height: 23px;
    background-position: -20px -279px;
}
.errado label {
    width: 80px;
    height: 23px;
    background-position: -20px -309px;
}
.payment-methods .certo input:focus+label {
    background-position: -20px -338px
}
.payment-methods .certo input:checked+label {
    width: 81px;
    background-position: -20px -338px
}
.payment-methods .errado input:focus+label {
    background-position: -20px -368px
}
.payment-methods .errado input:checked+label {
    width: 81px;
    background-position: -20px -368px
}
@-moz-document url-prefix() {
    .payment-methods input:checked+label:after {
        bottom: 0;
        right: 0;
        background-color: #21b4d0;
    }
}
.question-footer .quarter {
    width: 25% !important;
}
.question-footer .smalltitle {
    font-weight: normal;
    margin: 12px 25px 0 25px;
}
.question-content .question-img {
    width: 775px;
    height: 156px;
    background-size: cover;
    background-repeat: no-repeat;
}
.app-pages .box-content.mensagens .right-content {
    max-height: 509px;
    min-height: 509px;
}
.app-pages .box-content.mensagens {
    padding: 0;
    border: 1px solid #f1f1f1
}
.app-pages .box-content.mensagens .msg-text {
    font-size: 11px;
}
.anuncio-app {
    margin-bottom: 20px;
}
.anuncio-app .graytitle {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #959595;
    display: block;
    margin-bottom: 5px
}
.anuncio-app .anuncio-box {
    background-color: #f4f4f4;
    border: 1px solid #cdcdcd;
    padding: 19px 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #959595;
}
.box-resultados {
    max-height: 333px;
    overflow-y: scroll;
}
.box-resultado {
    margin: 10px 0
}
.box-resultado>div {
    margin-right: 20px;
}
.box-resultado>div:first-child {
    width: 690px;
}
.box-resultado>div:last-child {
    width: 477px;
}
.box-resultado .desc-stats {
    display: block;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #696969
}
.box-resultado .desc-stats .bluetitle {
    font-size: 12px;
    display: inline;
    text-transform: none;
}
.box-resultado .greentitle {
    color: #5d9600;
    font-weight: bold;
}
.box-resultado .box-enunciado {
    padding: 10px;
    border: 1px solid #1e9ec5;
    background-color: #f1f1f1;
}
.box-resultado .box-enunciado p {
    color: #696969;
    font-size: 12px;
}
.box-table table {
    margin-top: 0
}
table.app tr th {
    font-size: 12px;
    background-color: #1a678f;
}
table.app tr.linha {
    background-color: #e9e9e9
}
table.app tr.linha td {
    font-size: 18px;
    font-weight: bold;
    color: #1a678f;
    border-bottom: 2px solid #fff;
    vertical-align: middle;
}
table.app tr.linha.odd {
    background-color: #dbdbdb
}
table.app tr.linha:hover {
    background-color: #b5e0ed !important
}
table.app tr td.greentitle {
    color: #4ca92b
}
table.app tr td.redtitle {
    color: #d70604
}
table.app tr.linha td.concurseiro {
    max-width: 260px;
}
table.app tr td.small {
    font-size: 16px;
    padding-right: 0;
}
.box-table {
    margin-bottom: 20px
}
.box-table.overflow {
    max-height: 392px;
}
.app-pages #expand-list li a {
    font-size: 12px;
}
.concurseiro-stats {
    position: absolute;
    top: 0;
    right: 0;
    width: 325px;
}
.concurseiro-stats>span {
    display: block;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
    width: 235px
}
.concurseiro-stats .bigtitle {
    color: #1e9ec5;
    font-weight: bold;
}
.concurseiro-stats .medal {
    width: 68px;
    height: 81px;
    display: block;
    text-align: center;
    background-position: -408px -6px;
}
.concurseiro-stats .medal span {
    text-align: center;
    position: relative;
    top: 24px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
.concurseiro-stats .btn {
    font-size: 10px;
    padding: 1px 6px;
    font-weight: normal;
}
.box-menu-app {
    margin-top: 20px
}
.box-menu-app .btn {
    padding: 30px 70px;
    margin-right: 53px;
    margin-bottom: 50px
}
.menu-ciclos {
    width: 98px;
    height: 147px;
    background-position: -195px -197px;
}
.menu-acompanhar {
    width: 163px;
    height: 147px;
    background-position: -317px -197px;
}
.menu-editar {
    width: 145px;
    height: 147px;
    background-position: -493px -197px;
}
.menu-evolucao {
    width: 94px;
    height: 147px;
    background-position: -656px -197px;
}
.menu-relatorios {
    width: 94px;
    height: 147px;
    background-position: -768px -197px;
}
.menu-alterar {
    width: 215px;
    height: 148px;
    background-position: -873px -191px;
}
.menu-manual {
    width: 141px;
    height: 107px;
    background-position: -197px -355px;
}
.menu-orientacoes {
    width: 156px;
    height: 123px;
    background-position: -350px -353px;
}
.menu-ebook {
    width: 109px;
    height: 129px;
    background-position: -525px -352px;
}
.app-acompanhar {
    padding: 30px 37.5px !important;
}
.app-editar {
    padding: 30px 46.5px !important;
}
.app-evolucao, .app-relatorios {
    padding: 30px 72px !important;
}
.app-alterar {
    padding: 30px 11.5px !important;
}
.app-manual {
    padding: 29px 20px !important;
}
.app-orientacoes {
    padding: 21px 12.5px !important;
}
.app-ebook {
    padding: 18px 36px !important;
}
.app-manual, .app-orientacoes, .app-ebook {
    margin-bottom: 5px !important;
    margin-right: 0 !important
}
.box-inputs {
    width: 173px;
    float: none
}
.box-inputs label {
    width: 101px;
    text-align: right;
    display: block;
    float: left;
    margin-right: 12px;
    margin-top: 21px;
    color: #1a678f;
    font-weight: bold;
}
p.warning {
    color: red;
    font-weight: bold;
}
.box-inputs input[type="text"] {
    width: 36px !important;
    background-color: #eaeaea
}
.ciclos-bg {}
